body {
  font-family: sans-serif;
  background-color: orange;
  display: flex;
  justify-content: center;
  /* margin-top: 80px; */
}


.circle {
  width: 200px;
  position: absolute;
  top: 80px;
  height: 200px;
  border-radius: 50%;
  background-color: blue;
}