body {
  font-family: sans-serif;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}